:root {
    --main-bg: 255,255,255;
    --primary-color: 31, 201, 130;
    --secondary-color: 54, 54, 54;
    --additional-color: 10, 63, 54;
    --text-light: 255,255,255;
    --text-dark: 0,0,0;
    --light-bg: 255,255,255;
    --shadow: 0,0,0;
}

[data-theme='dark'] {
    --main-bg: 21, 42, 56;
    --primary-color: 85,110,83;
    --secondary-color: 41,67,92;
    --additional-color: 41,67,92;
    --text-light: 209, 212, 201;
    --text-dark: 209, 212, 201;
    --light-bg: 209,212,201;
    --shadow: 209, 212, 201;
}

/* Reset some CSS styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(var(--text-light));
}

.app {
    min-height: 100vh;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(var(--main-bg));
}

.page {
    min-height: calc(100vh - 3.875rem);
}

.main-padding {
    padding-top: 10rem;
}

/* QUIZES */
.quizes {
    max-width: 1320px;
    display: grid;
    grid-template-columns: repeat(4, minmax(19rem, 1fr));
    grid-gap: 1rem;
    margin-top: 3rem;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
}

.searchSection {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serachContainer {
    width: 65rem;
    display: flex;
    position: relative;
}

.search {
    background-color: rgb(var(--light-bg));
    width: 100%;
    border: .125rem solid rgba(var(--additional-color), .2);
    border-radius: 2.5rem;
    font-size: 1rem;
    padding: .7rem;
}

.serachContainer i {
    position: absolute;
    right: 1rem;
    top: .8rem;
    color: rgb(var(--primary-color));
}

.categoryDropList {
    cursor: pointer;
    background-color: rgb(var(--light-bg));
    border: .125rem solid rgba(var(--additional-color), .2);
    padding: .7rem .5rem ;
    border-radius: 2.5rem;
    color: rgb(var(--additional-color));
    width: 15rem;
}

.option {
    cursor: pointer;
    text-align: left;
}

.text {
    color: rgb(var(--text-dark));
    font-size: 4rem;
    text-wrap: nowrap;
}

.quizNotFound {
    padding: 5rem 10% 0 10%;
    display: flex;
    gap: .5rem;
}

.myQuizes--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgb(var(--light-bg));
    height: 20rem;
}

.myaccount-container {
    padding: 12.5rem 10% 0 10%;
}

.options, .settings-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .3rem;
    text-wrap: nowrap;
}

.settings-container {
    border: 2px solid rgb(var(--primary-color));
    border-radius: .8rem;
    width: 100%;
    background-color: rgb(var(--light-bg));
    color: black;
    padding: .5rem .8rem;
}


.option {
    border: 2px solid rgb(var(--primary-color));
    border-radius: .8rem;
    font-size: 1rem;
    list-style: none;
    padding: .5rem .8rem;
    background-color: rgb(var(--light-bg));
}

.option-bigger {
    font-size: 2rem;
}
.option:hover{
    background-color: rgba(230, 230, 230, .8);
}

.active, .active:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(var(--text-light));
    border: 2px solid rgb(var(--primary-color));
}

.account-wrapper {
    display: flex;
    gap: 5rem;
    margin-bottom: 4rem;
}

.notShow {
    display: none;
}

.accountSetingsOption {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.accountSettingsInfo {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.delete-btn {
    width: 15rem;
    justify-content: space-between;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.center-container {
    display: flex;
    align-items: center;
}

.paragraph {
    font-size: 2rem;
    text-wrap: wrap;
    width: 42rem;
    text-align: center;
}

.text-header {
    font-size: 3rem;
}

.text-center {
    text-align: center;
}

.createQuestion{
    width: 100%;
}

.size {
    min-height: calc(100vh - 3.875rem);
    padding-top: 10rem;
}


.infoForUser {
    text-align: center;
    font-size: 1.5rem;
}

.additional-padding {
    padding-top: 1rem;
}


@media (max-width: 1400px) {
    .quizes {
        max-width: 1140px;
        grid-template-columns: repeat(4, minmax(16.313rem, 1fr));
    }

    .searchSection {
        max-width: 1140px;
    }

    .serachContainer {
        width: 50rem;
    }
}

@media (max-width: 1200px) {
    .quizes {
        max-width: 960px;
        grid-template-columns: repeat(4, minmax(13.375rem, 1fr));
    }

    .searchSection {
        max-width: 960px;
    }

    .serachContainer {
        width: 40rem;
    }
}

@media (max-width: 1035px) {
    .quizes {
        max-width: 720px;
        grid-template-columns: repeat(3, minmax(13.375rem, 1fr));
    }

    .searchSection {
        max-width: 720px;
    }

    .serachContainer {
        width: 25rem;
    }

    .text  {
        font-size: 2.5rem;
    }

    .size {
        min-height: calc(100vh - 6.425rem);
    }
}

@media (max-width: 830px) {
    .quizes {
        max-width: 540px;
        grid-template-columns: repeat(1, minmax(32.125rem, 1fr));
    }

    .searchSection {
        max-width: 540px;
        flex-direction: column-reverse;
        align-items: end;
    }

    .serachContainer {
        width: 100%;
        margin-top: 1rem;
    }

    .searchSectionMyQuizes {
        align-items: flex-start;
    }
}

@media (max-width: 570px) {
    .quizes {
        display: flex;
        flex-direction: column;
        max-width: 570px;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .searchSection {
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .size {
        padding-top: 6rem;
        height: calc(100vh - 9rem);
    }
}

@media screen and (max-height: 400px) {
    .main-padding {
        padding-top: 7rem;
    }
    .size {
        padding-top: 7rem;
    }
}