:root {
    --main-bg: 255,255,255;
    --primary-color: 31, 201, 130;
    --secondary-color: 54, 54, 54;
    --additional-color: 10, 63, 54;
    --text: 255,255,255;
    --shadow: 0,0,0;
}

[data-theme='dark'] {
    --main-bg: 21, 42, 56;
    --primary-color: 85,110,83;
    --secondary-color: 41,67,92;
    --additional-color: 41,67,92;
    --text: 209, 212, 201;
    --shadow: 209, 212, 201;
}

/* Reset some CSS styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(var(--text));
}

.app {
    min-height: 100vh;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: rgb(var(--main-bg));
}



/* QUIZES */
.quizes {
    display: grid;
    grid-template-columns: 21rem 21rem 21rem 21rem;
    gap: 4rem;
    padding: 5rem 10%;
}

.searchSection {
    padding: 12.5rem 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serachContainer {
    width: 65rem;
    display: flex;
    position: relative;
}

.search {
    background-color: rgb(var(--text));
    width: 100%;
    border: .125rem solid rgba(var(--additional-color), .2);
    border-radius: 2.5rem;
    font-size: 1rem;
    padding: .7rem;
}

.serachContainer i {
    position: absolute;
    right: 1rem;
    top: .8rem;
    color: rgb(var(--primary-color));
}

.categoryDropList {
    cursor: pointer;
    background-color: rgb(var(--text));
    border: .125rem solid rgba(var(--additional-color), .2);
    padding: .7rem .5rem ;
    border-radius: 2.5rem;
    color: rgb(var(--additional-color));
    width: 15rem;
}

.option {
    cursor: pointer;
    text-align: left;
}

.text {
    color: rgb(var(--text));
    font-size: 4rem;
    text-wrap: nowrap;
}

.quizNotFound {
    padding: 5rem 10% 0 10%;
    display: flex;
    gap: .5rem;
}
