.question{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
}

.addAnswer-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.question-input,
.addAnswer-container input {
    border: 2px solid rgb(var(--primary-color));
    border-radius: 2.5rem 0 0 2.5rem;
    width: 100%;
    background: rgb(var(--light-bg));
    height: 3.125rem;
    padding-left: .8rem;
    font-size: 1.1rem;
}

.question-input {
    border-radius: 2.5rem;
}

.moreAnswers,
.addAnswer-container button {
    border: 2px solid rgb(var(--primary-color));
    border-radius: 0 2.5rem 2.5rem 0;
    width: 4.5rem;
    height: 3.125rem;
    cursor: pointer;
    background: rgba(var(--primary-color));
}

.addAnswer-container button i {
    font-size: 1.2rem;
    color: rgb(var(--text-light));
}

.moreAnswers {
    width: 100%;
    border-radius: 2.5rem;
    color: rgb(var(--primary-color));
    font-size: 2rem;
    background: rgb(var(--light-bg));
    margin-bottom: 3rem;
}

.moreAnswers:hover {
    background: rgba(var(--primary-color), .2);
    border: 2px solid rgba(var(--primary-color), .5);
}


.addAnswer-container button:hover {
    background: rgba(var(--primary-color), .8);
    border: 2px solid rgba(var(--primary-color), .5);
}

.createdQuestion{
    position: relative;
}

.icons {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    width: 4.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.correctAnswer {
    font-weight: bold;
}

.categoryDropListCreateQuiz {
    height: 3.625rem;
}

.padding-top {
    padding-top: 1.5rem;
}

.space {
    padding: .5rem;
}

.createdQuestionText {
text-wrap: wrap;
}

.continueBtn {
    position: relative;
}

.continueBtn:disabled::before {
    display: none;
    content: "Add at least two question";
    position: absolute;
    top: -2.7rem;
    right: 0;
    padding: .25rem;
    text-wrap: nowrap;
    border: 0.125rem solid rgb(var(--additional-color));
    border-radius: 0.438rem;
    background-color: rgb(var(--light-bg));
    color: black;
    font-size: 1.125rem;
    opacity: .7;
}

.continueBtn:disabled:hover::before {
    display: block;
}


.moreAnswers {
    position: relative;
}

.moreAnswers:disabled::before {
    display: none;
    content: "You can not add more than 5 answers";
    position: absolute;
    bottom: -2.7rem;
    right: 0;
    padding: .25rem;
    text-wrap: nowrap;
    border: 0.125rem solid rgb(var(--additional-color));
    border-radius: 0.438rem;
    background-color: rgb(var(--light-bg));
    color: black;
    font-size: 1.125rem;
    opacity: .7;
}

.moreAnswers:disabled:hover::before {
    display: block;
}

.reqiuerdAnswers {
    display: flex;
    width: 100%;
    align-items: center;
}

.reqiuerdAnswers input {
    border: 2px solid rgb(var(--primary-color));
    border-radius: 2.5rem;
    width: 100%;
    background: rgb(var(--light-bg));
    height: 3.125rem;
    padding-left: .8rem;
    font-size: 1.1rem;
}

.setQuizImage {
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.setQuizImage i {
    color: black;
}

.setQuizImage button {
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
}

.quizImage {
    width: 400px;
}

@media (max-width: 660px) {
    .quizImage {
        width: 100%;
    }

    .setQuizImage {
        width: 100%;
    }
}
