/* General Navber Styling */
.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav--container {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: rgb(var(--primary-color));
    padding: 1.5rem 20%;
    transition: box-shadow .3s ease-in-out;
    transition: padding .3s ease-in-out;
}

.nav--scrolled {
    padding: .8rem 20%;
    box-shadow: 0 0.313rem 0.313rem 0 rgba(var(--shadow), .15);
}

/* Logo Styling */
.nav--logo {
    font-size: 2.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    transition: all .3s ease-in-out;
}

.nav--logo i {
    font-size: 2rem;
}

/* Navbar List Styling */
.nav--list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.nav--item {
    font-size: 1.4rem;
    margin: 0 1.5rem;
    padding: .5rem 1.5rem;
}

.onlyForLogInUser::before {
    display: none;
    content: "Sign In to create a quiz";
    position: absolute;
    bottom: -1.875rem;
    right: 0;
    padding: .25rem;
    text-wrap: nowrap;
    border: 0.125rem solid rgb(var(--additional-color));
    border-radius: 0.438rem;
    background-color: rgb(var(--text));
    color: rgb(var(--additional-color));
    font-size: 1.125rem;
    opacity: .7;
}

.nav--item:hover::before {
    display: block;
}

/* Underline the text - transition */
.nav--link::after,
.onlyForLogInUser::after,
.remember-forgot a::after,
.form a::after,
footer li::after {
    content: '';
    background-color: rgb(var(--text));
    display: block;
    width: 0;
    height: .150rem;
    transition: 0.3s ease-out;
}

.remember-forgot a::after,
.form a::after {
    background-color: rgb(var(--primary-color));
}

.nav--link:hover::after,
.onlyForLogInUser:hover::after,
.remember-forgot a:hover::after,
.form a:hover::after,
footer li:hover::after {
    width: 100%;
}


/* Button styling */
.btn {
    background: rgb(var(--additional-color));
    border-radius: 0.938rem;
    cursor: pointer;
    
}

.btn:hover {
    background: rgba(var(--additional-color), .8);
}

/* Theme toggle */
.themeToggle {
    color: rgb(var(--text));
    background-color: rgb(var(--additional-color));
    border: 1px solid rgb(var(--additional-color));
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    position: absolute;
    right: 2.8rem;
}



/* footer styling */
footer {
    background-color: rgb(var(--secondary-color));
    padding: 1.3rem 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 2;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.quizInfo {
    color: black;
    margin-top: 6.25rem;
}
