/* General Navber Styling */
.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    width: 100vw;
    background-color: rgb(var(--primary-color));
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: box-shadow .3s ease-in-out;
    transition: padding .3s ease-in-out;
}

.nav--container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.nav--scrolled {
    padding: .8rem 0;
    box-shadow: 0 0.313rem 0.313rem 0 rgba(var(--shadow), .15);
}

/* Logo Styling */
.nav--logo {
    font-size: 2.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    transition: all .3s ease-in-out;
    text-wrap: nowrap;
}

.nav--logo i {
    font-size: 2rem;
    text-wrap: nowrap;
}

/* Navbar List Styling */
.nav--list {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.nav--item {
    font-size: 1.4rem;
    margin: 0 1.5rem;
    padding: .5rem 1.5rem;
}

.onlyForLogInUser::before {
    display: none;
    content: "Sign In to create a quiz";
    position: absolute;
    bottom: -1.875rem;
    right: 0;
    padding: .25rem;
    text-wrap: nowrap;
    border: 0.125rem solid rgb(var(--additional-color));
    border-radius: 0.438rem;
    background-color: rgb(var(--light-bg));
    color: rgb(var(--additional-color));
    font-size: 1.125rem;
    opacity: .7;
}

.nav--item:hover::before {
    display: block;
}

.btn-toggle {
    color: rgb(var(--light-bg));
    font-size: 1.5rem;
    padding: .5rem;
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 0;
    right: -500px;
    background-color: rgb(var(--primary-color));
    height: 100vh;
    width: 500px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    transition: all ease-in-out .3s;
}

.toggle-logo-container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2.5rem;
}

/* Underline the text - transition */
.nav--link::after,
.onlyForLogInUser::after,
.remember-forgot a::after,
.form a::after,
footer li::after {
    content: '';
    background-color: rgb(var(--light-bg));
    display: block;
    width: 0;
    height: .150rem;
    transition: 0.3s ease-out;
}

.remember-forgot a::after,
.form a::after {
    background-color: rgb(var(--primary-color));
}

.nav--link:hover::after,
.onlyForLogInUser:hover::after,
.remember-forgot a:hover::after,
.form a:hover::after,
footer li:hover::after {
    width: 100%;
}


/* Button styling */
.btn {
    background: rgb(var(--additional-color));
    border-radius: 0.55rem;
    cursor: pointer;
    color: rgb(var(--text-light));
}

.btn:hover {
    background: rgba(var(--additional-color), .8);
}


/* Theme toggle */


.themeToggle {
    color: rgb(var(--text-light));
    background-color: rgb(var(--additional-color));
    border: 1px solid rgb(var(--additional-color));
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    position: absolute;
    right: .5rem;
}

.themeToggleDropdown {
    bottom: 0;
    margin-bottom: 1rem;
}


/* footer styling */
footer {
    background-color: rgb(var(--secondary-color));
    padding: 1.3rem 0;
    width: inherit;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.quizInfo {
    color: black;
    margin-top: 6.25rem;
}

@media screen and (max-width: 1400px) {
    .nav--container {
        width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .nav--container {
        width: 960px;
    }

    .nav--item {
        margin: 0 1.5rem;
        padding: .5rem;
    }

}

@media screen and (max-width: 1035px) {
    ul {
        width: 500px;
        display: grid;
        grid-template-columns: repeat(2, minmax(5rem, 1fr));
        margin-left: auto;
        margin-right: auto;
    }

    .nav--container {
        width: 720px;
    }

    .nav--list {
        display: none;
    }

    .themeToggle {
        display: none;
    }

    .btn-toggle {
        display: block;        
    }
}

@media screen and (max-width: 830px) {
    .nav--container {
        width: 540px;
    }
}

@media screen and (max-width: 570px) {
    ul {
        width: 220px;
        display: grid;
        grid-template-columns: repeat(1, minmax(5rem, 1fr));
        margin-left: auto;
        margin-right: auto;
    }

    .nav--container {
        width: 100%;
    }

    .dropdown-menu {
        width: 350px;
    }

    .toggle-logo-container {
        width: 350px;
    }
}