.quizCard {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 20.9rem;
    height: 31.25rem;
    border: .188rem solid rgba(var(--primary-color), .1);
    border-radius:.938rem;
    margin-bottom: .938rem;
    background-color: rgba(var(--primary-color), .6);
}

.quizImg {
    height: 25rem;
    border-radius: .88rem;
}

.quizTitle {
    padding-left: .625rem;
    padding-top: .625rem;
}

.quizStats {
    padding-left: .625rem;
    position: absolute;
    bottom: .938rem;
}


.quizCard:hover {
    background-color: rgba(var(--primary-color), .8);  
    border: .188rem solid rgba(var(--primary-color), .6);
    scale: 1.05;
    transition: all ease-in-out 300ms;
}


.quizCard-icons {
    position: absolute;
    bottom: 1rem;
    right: .625rem;
    color: rgb(var(--text-dark));
}

.quizCard-icon {
    padding-left: .5rem;
}