.question--container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

/* SECTION 1 */
.quiz--infoCard {
    border: .003rem solid rgba(var(--secondary-color), .1);
    border-radius: 0 0 .625rem .625rem;
    padding: 2% 5%;
    background-color: rgb(var(--text-light));
    position: relative;
}

.quiz--infoCard::before {
    content: "";
    background:  rgba(var(--primary-color), .6);
    position: absolute;
    top: -1.188rem;
    left: 0;
    height: 1.25rem;
    width: 100%;
    border-radius: .625rem .625rem 0 0;
}

.quiz--title {
    font-size: 2.5rem;
}

.quiz--line {
    width: 100%;
    margin: .938rem 0;
    border: .063rem solid rgba(var(--secondary-color), .1);
}

.quiz--userInfo, .quiz--info{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: flex-end;
}

.quiz--img {
    width: 100px;
}


.quiz--error {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: .063rem solid rgba(var(--secondary-color), .1);
    border-radius: .625rem;
    padding: .3rem;
    text-align: center;
    color: red;
}

/* SECTION 2 */
.question--card {
    margin:  1.25rem 0;
    border: .063rem solid rgba(var(--secondary-color), .1);
    border-radius: .625rem ;
    padding-left:  1.25rem;
    background-color: rgb(var(--text-light))
}


.question--text {
    font-size: 1.875rem;
    padding:  1.25rem 0;
    text-wrap: wrap;
}

/* Custom radio button */
/* Hide the browser's default radio button */
.answers--container input {
    position: absolute;
    opacity: 0;
}

.answers--container {
    display: block;
    position: relative;
    padding-left: 2.813rem;
    margin-bottom: 1.875rem;
    cursor: pointer;
    font-size: 1.375rem;
}

.radioBtn {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.688rem;
    width: 1.688rem;
    border: .125rem solid rgba(var(--secondary-color), .1);
    border-radius: 50%;
    background: rgb(var(--text-light));
    cursor: pointer;
}

.radioBtn::before {
    content: "";
    width: 3.125rem;
    height: 3.125rem;
    box-sizing: border-box;
    border: .813rem solid rgba(var(--primary-color), .1);
    position: absolute;
    top: -.875rem;
    left: -.875rem;
    border-radius: 50%;
    display: none;
}

.radioBtn:hover::before {
    display: block;
}

.radioBtn::after {
    content: "";
    width: .938rem;
    height: .938rem;
    background: rgba(var(--primary-color), .6);
    display: none;
    position: absolute;
    top: .25rem;
    left: .25rem;
    border-radius: 50%;
}

.answers--container input:checked ~ .radioBtn {
    border: .125rem solid rgba(var(--primary-color), .6);
}

.answers--container input:checked ~.radioBtn::after {
    display: block;
}

/* SECTION 3 */
.quiz--btn {
    box-sizing: border-box;
    background-color: rgb(var(--primary-color));
    border: .188rem solid rgba(var(--primary-color),.5);
    border-radius: .5rem;
    padding: .938rem 3.75rem;
    font-size:  1.25rem;
    color: rgb(var(--text-light));
}

.quiz--btn:hover {
    border: .188rem solid rgba(var(--primary-color), .9);
    background-color: rgba(var(--primary-color), .8);
    transition: all ease-in-out .2s;
    cursor: pointer;
    color: rgb(var(--text));
}


.quiz--btnContainer {
    display: flex;
    justify-content: space-between;
}


.quiz--imgBig {
    width: 30%;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info {
    padding:  1.25rem;
}

.score {
    font-size: 2.813rem;
    padding:  1.25rem 0;
}

.title {
    font-size: 2.188rem;
    padding: 1.25rem 0;
}

@media (max-width: 1035px) {
    .question--container {
        width: 800px;
    }
}

@media (max-width: 830px) {
    .question--container {
        width: 600px;
    }
}

@media (max-width: 660px) {
    .question--container {
        width: 400px;
    }

    .quiz--btnContainer {
        flex-direction: column;
        gap: .5rem;
    }

    .quiz--btn {
        padding: .938rem .7rem;
        font-size:  1rem;
        text-wrap: wrap;
    }

    .score {
        font-size: 2.813rem;
        padding:  1.25rem 0;
    }
}

@media (max-width: 570px) {
    .question--container {
        width: 100%;
        margin-top: 2rem;
    }

    .quiz--infoCard {
        border-radius: 0;
    }

    .question--card {
        border-radius: 0;
    }

    .quiz--title {
        font-size: 2rem;
    }

    .score {
        font-size: 2rem;
        padding:  1rem 0;
    }
}

@media (max-height: 400px) {
    .question--container {
        margin-top: 3rem;
    }
}
