.quizCard {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 20.9rem;
    height: 31.25rem;
    border: .188rem solid rgba(31, 201, 130, .1);
    border-radius:.938rem;
    margin-bottom: .938rem;
    background-color: rgba(31, 201, 130, .6);
}

.quizImg {
    height: 25rem;
    border-radius: .88rem;
}

.quizTitle {
    padding-left: .625rem;
    padding-top: .625rem;
}

.quizStats {
    padding-left: .625rem;
    position: absolute;
    bottom: .938rem;
}


.quizCard:hover {
    background-color: rgba(31, 201, 130, .8);  
    border: .188rem solid rgba(31, 201, 130, .6);
    scale: 1.05;
    transition: all ease-in-out 300ms;
}

