:root {
    --main-bg: 255,255,255;
    --primary-color: 31, 201, 130;
    --secondary-color: 54, 54, 54;
    --additional-color: 10, 63, 54;
    --text-light: 255,255,255;
    --text-dark: 0,0,0;
    --light-bg: 255,255,255;
    --shadow: 0,0,0;
}

[data-theme='dark'] {
    --main-bg: 21, 42, 56;
    --primary-color: 85,110,83;
    --secondary-color: 41,67,92;
    --additional-color: 41,67,92;
    --text-light: 209, 212, 201;
    --text-dark: 209, 212, 201;
    --light-bg: 209,212,201;
    --shadow: 209, 212, 201;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(var(--text-light));
}

body {
    background-color: rgb(var(--main-bg));
}

.nav--logo_container {
    display: flex;
    justify-content: center;
    background-color:  rgb(var(--primary-color));
    padding: 2rem;
}

.nav--logo {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.nav--logo i {
    font-weight: bold;
    font-size: 2rem;
}

.message--container {
    text-align: center;
    margin-top: 4rem;
    color: rgb(var(--text-dark))
}

.message--header {
    padding-bottom: 1rem;
}

